.view {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.sprite {
  display: block;
  width: 130px;
  margin: 0px auto;
}

.card-pokemon{
  width: 1000;
  background-color: #FFCE00;
  color: #F3F3F3;

}

.catch-btn {
  width: 200px;
  height: 35px;
  display: block;
  margin: 25px auto;
  background: #FFCE00;
  border: none;
  outline: none;
  color: #171717;
}

.card-pokedex{
  background-color: #d8d3cd;
  margin: 0.5em;
}

.btn-remove{
  outline: none;
  border: none;
  float: right;
  background-color: transparent;
  color: #797a7e;
  margin-top: 5px;
}

.btn-remove:hover {
  color: #595a5e;
}

.type {
  margin-right: 8px;
	padding: 5px 8px 5px 8px;
	display: inline-block;
	border-radius: 6px;
	-webkit-border-radius: 6px; 
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	font-size: 13px;
	font-family: "helvetica neue", Helvetica, Verdana, sans-serif;
	color: #FFF;
	background-color: #68A090;
  border: 1px solid #44685E;
  cursor: pointer;
}

.toggle {
  position: relative;
  padding: 0 4px;
  display: flex;
  align-items: center;
}

input[type="checkbox"].checkbox {
  width: 40px;
  height: 10px;
  background: #555;
  position: relative;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  vertical-align: 2px;
  outline: none;
}

input[type="checkbox"].checkbox:checked + label {
  left: 30px;
}

input[type="checkbox"].checkbox:focus-visible {
  outline: solid 2px white;
}

input[type="checkbox"].checkbox + label {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  transition: all 0.3s ease;
  cursor: pointer;
  position: absolute;
  left: 2px;
  top: 5px;
  background: #fff;
  opacity: 0.9;
  background-color: cyan;
}

.toggle-container {
  display: flex;
  margin: 0 auto;
  width: 110px;
  background-color: transparent;
  border-radius: 5px;
}

.toggle-container > span {
  margin: 0 auto;
  font-size: 1.2em;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
  margin-top: 4px;
  margin-right: 7px;
  
}

.toggle-container > span:last-child {
  margin-top: 5px;
}

.bg-dark-mode{
  background-color: black;
}

input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=search-md]:focus:not([readonly]), input[type=search]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=url]:focus:not([readonly]), textarea.md-textarea:focus:not([readonly]) {
  border-bottom: 2px solid #f44295 !important;
  box-shadow: 0 1px 0 0 #f44295 !important;
  color: #f44295;
}

.md-form input[type='text']:focus:not([readonly]) + label {
  color: #f44295 !important;
}

.form-control{
  background-color: transparent !important;
}