#classicformpage .view {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}



.sprite {
  display: block;
  width: 130px;
  margin: 0px auto;
}

.card-pokemon{
  width: 1000;
  background-color: #FFCE00;
  color: #F3F3F3;

}

.catch-btn {
  width: 200px;
  height: 35px;
  display: block;
  margin: 25px auto;
  background: #FFCE00;
  border: none;
  outline: none;
  color: #171717;
}

.card-pokedex{
  background-color: #d8d3cd;
  margin: 0.5em;
}

.card-pokedex button{
  outline: none;
  border: none;
  float: right;
  background-color: transparent;
  color: #797a7e;
  margin-top: 5px;
}

.card-pokedex button:hover{
  color: #595a5e;
}

.type {
  margin-right: 8px;
	padding: 5px 8px 5px 8px;
	display: inline-block;
	border-radius: 6px;
	-webkit-border-radius: 6px; 
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	font-size: 13px;
	font-family: "helvetica neue", Helvetica, Verdana, sans-serif;
	color: #FFF;
	background-color: #68A090;
  border: 1px solid #44685E;
  cursor: pointer;
  color: #53a4cf
}